.profile__infor {
    display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 336px;
    margin-right: 50px;
}
@media screen and (max-width: 580px) {
    .profile__infor{
    margin: 0;
    }
}